@using System.Security.Policy
@using Microsoft.AspNet.Identity
@using Softuni___Memes.Models

@if (Request.IsAuthenticated)
{

    <ul class="nav pull-left">
        <li class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" style="color:#e6e6e6;" class="dropdown-toggle">
                <span class="glyphicon glyphicon-user"></span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <div style="padding-left: 40px; color: #224364">My account</div>
                <li>
                    <a style="margin: 5px;" class="btn btn-primary" href="#" onclick="location.href = '@Url.Action("Profile", "Account")'">Profile</a>
                </li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-left"}))
                    {
                        @Html.AntiForgeryToken()
                        ;
                        <a id="menuLogout" href="javascript:document.getElementById('logoutForm').submit()">
                            <button style="margin: 5px; width: 150px;" type='button' class='btn btn-primary' id="button">Log out</button>
                        </a>
                    }
                </li>
            </ul>
        </li>
    </ul>


}
else
{
    <ul class="nav pull-left">
        <li><a href="#" onclick="location.href='@Url.Action("Login", "Account")'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

}
