@model Softuni___Memes.Models.ImageModel
@{
    ViewBag.Title = "Create";
}
<style>
    body {
        background: url('../Images/softuni.png') no-repeat center center fixed;
        background-size: cover;
    }

    #chose-file-style {
        background-color: rgb(255,160,0);
        font-size: 16px;
        font-weight: bold;
        color: rgb(35,68,100);
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: 2px;
    }

    #chose-fail-style > div > input {
        background-color: rgb(35,68,100);
        color: #ffffff;
        box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
    }

    .btn btn-default {
        background-color: rgb(255,160,0);
        font-size: 16px;
        font-weight: bold;
        color: rgb(35,68,100);
        padding: 5px 25px;
        border-radius: 8px;
        box-shadow: 2px;
    }

        .btn btn-default:hover {
            background-color: rgb(35,68,100);
            color: #ffffff;
            box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
        }

    .panel-body {
        height: 200px;
    }

    .choose-button {
        background-color: rgb(255,160,0);
        font-size: 16px;
        font-weight: bold;
        color: rgb(35,68,100);
        padding: 5px 25px;
        border-radius: 8px;
        box-shadow: 2px;
    }

        .choose-button:hover {
            background-color: rgb(35,68,100);
            color: #ffffff;
            box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
        }
        
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid text-center">
        <div class="wrapper">
            <div class="row">

                <h1 style="font: 40px Lato"><b>Welcome</b></h1>
                <p style="font: 18px Lato;">Here you can make meme for your favourite quote from Software University. </p>
                <hr>
                <canvas width="600" height="500" id="canvas" style="border: 1px solid black"></canvas><br>
                <div id="chose-file-style" class="row" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col-md-2 col-md-offset-3">Template:</div>
                    <div class="col-md-2">
                        <input id="img" type="file" accept="image/*" />
                    </div>
                </div>
                <aside id="aside" hidden>
                    <a href="#" id="download">Download as image</a><br />
                    <div class="row">
                        <div class="col-md-offset-1 col-md-4 control-label" ><strong>Top text:</strong></div>
                        <input class="col-md-4 form-control tb" id="text-box1" type="text"><input class="col-md-2 form-control tb" id="size-font1" type="number" value="60" min="40" max="80" style="width: 60px; margin-left: 0;"><br>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-4 control-label" ><strong>Bottom text:</strong></div>
                        <input class="col-md-4 form-control tb" id="text-box2" type="text"><input class="col-md-2 form-control tb" id="size-font2" type="number" value="60" min="40" max="80" style="width: 60px; margin-left: 0;"><br>
                    </div>
                        
                        <div class="form-group">
                            @if (Request.IsAuthenticated)
                {
                                <div>
                                    <input type="button" value="Create" class="btn btn-default" id="create-button" />
                                </div>
                            }
                        </div>
</aside>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading" style="background-color: rgb(35,68,100)">Soft Uni Memes</div>
                                <div class="panel-body"><img src="~/Images/1.jpg" class="img-responsive" style="width:100%; height:100%" alt="Image"></div>
                                <div class="panel-footer"><button type="button" id="1" class="choose-button" onClick="reply_click(this.id)">Choose</button></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Nakov</div>
                                <div class="panel-body"><img src="~/Images/2.jpg" class="img-responsive" style="width:100%; height:100%" alt="Image"></div>
                                <div class="panel-footer"><button type="button" id="2" class="choose-button" onClick="reply_click(this.id)">Choose</button></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Nakov</div>
                                <div class="panel-body"><img src="~/Images/3.jpg" class="img-responsive" style="width:100%; height:100%" alt="Image"></div>
                                <div class="panel-footer"><button type="button" id="3" class="choose-button" onClick="reply_click(this.id)">Choose</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">RoYaL</div>
                                <div class="panel-body"><img src="~/Images/4.jpg" class="img-responsive" style="width:100%; height:100%" alt="Image"></div>
                                <div class="panel-footer"><button type="button" id="4" class="choose-button" onClick="reply_click(this.id)">Choose</button></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Jicata</div>
                                <div class="panel-body"><img src="~/Images/5.jpg" class="img-responsive" style="width:100%; height:100%" alt="Image"></div>
                                <div class="panel-footer"><button type="button" id="5" class="choose-button" onClick="reply_click(this.id)">Choose</button></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading"> Bat Simo</div>
                                <div class="panel-body"><img src="~/Images/6.jpg" class="img-responsive" style="width:100%; height:100%" alt="Image"></div>
                                <div class="panel-footer"><button type="button" id="6" class="choose-button" onClick="reply_click(this.id)">Choose</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/memeScript.js")
}
