@model Softuni___Memes.Models.ImageModel
@{
    ViewBag.Title = "Create";
}
<h2>Create new Image</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="col-md-offset-2">
            <canvas width="600" height="400" id="canvas" style="border: 1px solid black"></canvas><br>
            <aside id="aside" style="align-content: center" hidden >
                <a href="#" id="download">Download as image</a><br/>
                Top text:
                <input class="tb" id="text-box1" type="text" ><input class="tb" id="size-font1" type="number" value="60" min="40" max="80" ><br>
                Bottom text:
                <input class="tb" id="text-box2" type="text" ><input class="tb" id="size-font2" type="number" value="60" min="40" max="80" ><br>
                
            </aside>
            Template: <input id="img" type="file" accept="image/*">
        </div>
        <div class="form-group">
            @if (Request.IsAuthenticated)
            {
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Create" class="btn btn-default" id="create-button" />
                </div>
            }
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/memeScript.js")
}
