@model Softuni___Memes.Models.ImageModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ImageModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Action("GetImage","Image",new { id = Model.Id})"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
