
@{
    ViewBag.Title = "About";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="wrapper" >
    <center><h1><img src="~/Images/logo-askalj.png" /></h1></center>
    <div class="row">
        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="/team/kiril.jpg" class="imgview img-responsive" /><h2>Kiril</h2>
                    </div>
                    <div class="back">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" /><h2>Kiril</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="/team/johny.jpg" class="imgview img-responsive" /><h2>Johny</h2>
                    </div>
                    <div class="back">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" /><h2>Johny</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="/team/lusi.jpg" class="imgview img-responsive" /><h2>Lusi</h2>
                    </div>
                    <div class="back">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" /><h2>Lusi</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="/team/simona.jpg" class="imgview img-responsive" /><h2>Simona</h2>
                    </div>
                    <div class="back">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" /><h2>Simona</h2>
                    </div>
                </div>
            </div>
        </div>
                
        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="/team/alexr.jpg" class="imgview img-responsive" /><h2>Alex</h2>
                    </div>
                    <div class="back">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" /><h2>Alex</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="/team/alexm.jpg" class="imgview img-responsive" /><h2>Alex</h2>
                    </div>
                    <div class="back">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" /><h2>Alex</h2>
                    </div>
                </div>
            </div>
        </div>

     </div>
    </div>
    <br />