
@{
    ViewBag.Title = "About";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div class="wrapper">
    <center>
        <h1>
            <img class="swing" src="~/Images/logo-askalj.png" />
        </h1>
    </center>
    <div class="row">
        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" />
                    </div>
                    <div class="back">
                        <a href="https://softuni.bg/users/profile/show/kiril98">
                            <img src="/team/kiril.jpg" class="imgview img-responsive" /><h2 class="team-names">Kiril</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" />
                    </div>
                    <div class="back">
                        <a href="https://softuni.bg/users/profile/show/johnjohnny">
                            <img src="/team/johny.jpg" class="imgview img-responsive" /><h2 class="team-names">Johny</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" />
                    </div>
                    <div class="back">
                        <a href="https://softuni.bg/users/profile/show/lusien.gg">
                            <img src="/team/lusi.jpg" class="imgview img-responsive" /><h2 class="team-names">Lusi</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="~/Images/wizzard-left - pink.png" class="imgview img-responsive" />
                    </div>
                    <div class="back">
                        <a href="https://softuni.bg/users/profile/show/sim0o0na">
                            <img src="/team/simona.jpg" class="imgview img-responsive" /><h2 class="team-names">Simona</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" />
                    </div>
                    <div class="back">
                        <a href="https://softuni.bg/users/profile/show/exeron">
                            <img src="/team/alexr.jpg" class="imgview img-responsive" /><h2 class="team-names">Alex</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <img src="~/Images/wizzard-left.png" class="imgview img-responsive" />

                    </div>
                    <div class="back">
                        <a href="https://softuni.bg/users/profile/show/alex1966">
                            <img src="/team/alexm.jpg" class="imgview img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />