
@{
    ViewBag.Title = "About";
}
<div class="content container">
    <div class="wrapper">
        <center>
            <h1>
                <img class="img-responsive" src="~/Images/logo-askalj.png" style="margin-bottom: 15px;" />
            </h1>
        </center>
        <div class="row">
            <div class="about-box col-md-4 text-center">
                <a href="https://softuni.bg/users/profile/show/kiril98">
                    <img src="/team/kiril.jpg" class="imgview img-responsive" /><h2>Kiril</h2>
                </a>
            </div>
            <div class="about-box col-md-4 text-center">
                <a href="https://softuni.bg/users/profile/show/johnjohnny">
                    <img src="/team/johny.jpg" class="imgview img-responsive" /><h2>Johny</h2>
                </a>
            </div>
            <div class="about-box col-md-4 text-center">
                <a href="https://softuni.bg/users/profile/show/lusien.gg">
                    <img src="/team/lusi.jpg" class="imgview img-responsive" /><h2>Lusi</h2>
                </a>
            </div>
            <div class="about-box col-md-4 text-center">
                <a href="https://softuni.bg/users/profile/show/sim0o0na">
                    <img src="/team/simona.jpg" class="imgview img-responsive" /><h2>Simona</h2>
                </a>
            </div>
            <div class="about-box col-md-4 text-center">
                <a href="https://softuni.bg/users/profile/show/exeron">
                    <img src="/team/alexr.jpg" class="imgview img-responsive" /><h2>Alex</h2>
                </a>
            </div>
            <div class="about-box col-md-4 text-center">
                <a href="https://softuni.bg/users/profile/show/alex1966">
                    <img src="/team/alexm.jpg" class="imgview img-responsive" />
                    <h2 class="team-names">Alex</h2>
                </a>
            </div>
        </div>
    </div>
</div>
