
@{
    ViewBag.Title = "About";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<div id="team-info">
    <center><h1><img src="~/Images/logo-askalj.png" /></h1></center>
    <div class="row">
        <div class="col-md-4">
            <img src="/team/kiril.jpg" class="imgview" /><h2>Kiril</h2>
        </div>
        <div class="col-md-4">
            <img src="/team/johny.jpg" class="imgview" /><h2>Johny</h2>
        </div>
        <div class="col-md-4">
            <img src="/team/lusi.jpg" class="imgview" /><h2>Lusi</h2>
        </div>
        <div class="col-md-4">
            <img src="/team/simona.jpg" class="imgview" /><h2>Simona</h2>
        </div>
        <div class="col-md-4">
            <img src="/team/alexr.jpg" class="imgview" /><h2>Alex</h2>
        </div>
        <div class="col-md-4">
            <img src="/team/alexm.jpg" class="imgview" /><h2>Alex</h2>
        </div>
    </div>
    <br />
</div>

