@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/Site.css" rel="stylesheet" />


<div id="backgroundhome">
    <div id="headhomeview">
        <center>
            <img src="/Images/homelogo.png" class="homelogo-view">
            <br />
            <input type="button" class="meme-button" , onclick="location.href='@Url.Action("Create", "Image")'" />
        </center>
    </div>

     
    <div id="bodyhomeview">
        <img src="/Images/wizzard-left.png" class="wizzard-view-left" />
        <img src="/Images/wizzard-right.png" class="wizzard-view-right" />
    </div>

    <div id="reglogview">
        @if (Request.IsAuthenticated)
        {
            <a href="javascript:document.getElementById('logoutForm').submit()"><img src="/Images/log-off.png" id="reglogbutton" /></a>
        }
        else
        {
            <a href="/Account/Register"><img src="/Images/reg.png" id="reglogbutton" /></a>
            <a href="/Account/Login"><img src="/Images/login.png" id="reglogbutton" /></a>
        }
    </div>
</div>

