@using System.Security.Policy
@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/Site.css" rel="stylesheet"/>
<link href="~/Content/csshake.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 logo">
            <img class="img-responsive" src="/Images/homelogo.png">
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4 logoButton">
            <input type="button" class="meme-button shake-slow shake-constant shake-constant--hover" onclick="location.href = '@Url.Action("Create", "Image")'"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 wizard-left">
            <img class="img-responsive" src="/Images/wizzard-left.png"/>
        </div>

        <div class="col-md-offset-4 col-md-4 wizard-right">
            <img class="img-responsive" src="/Images/wizzard-right.png"/>
        </div>
    </div>
</div>
<!--
    <div id="reglogview">
    @if (Request.IsAuthenticated)
    {
        <a href="javascript:document.getElementById('logoutForm').submit()"><img src="/Images/log-off.png" id="reglogbutton" /></a>
    }
    else
    {
        <a href="/Account/Register"><img src="/Images/reg.png" id="reglogbutton" /></a>
        <a href="/Account/Login"><img src="/Images/login.png" id="reglogbutton" /></a>
    }
</div>
    -->