@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
    padding: 5%;
    background: url("/Images/softuni.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    background: rgba(255, 255, 255, 0.60);
    border-radius: 20px;
    padding: 50px;
}

/* view all memes styles */

.work-item {
    margin-bottom: 30px;
}

    .work-item a {
        border: none;
        text-align: center;
    }

        .work-item a img {
            margin-bottom: 10px;
            float: left;
            border: 10px solid transparent;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }

        .work-item a h3 {
            font-size: 20px;
            color: #000;
            margin-bottom: 10px;
        }

        .work-item a p {
            font-size: 14px;
            color: #cccccc;
            margin-bottom: 0;
        }

        .work-item a:hover, .work-item a:active, .work-item a:focus {
            text-decoration: none;
        }

            .work-item a:hover img, .work-item a:active img, .work-item a:focus img {
                border: 10px solid #000;
            }



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#softuni-memes {
    color: #00bfff;
    background-image: url("/Images/logo.png");
    width: 200px;
    height: 45px;
}

.alert {
    margin-top: 10px;
}

#headhomeview {
    margin-top: 610px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#bodyhomeview {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}

.meme-button {
    border: none !important;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background: url('/Images/create-meme-button.png') repeat-y;
}

    .meme-button:hover {
        border-radius: 10px;
        width: 200px;
        height: 50px;
        background: url('/Images/create-meme-button-hover.png') repeat-y;
    }

.wizzard-view-left {
    width: 40em;
    height: 25em;
}

.wizzard-view-right {
    width: 40em;
    height: 25em;
}

.homelogo-view {
    margin-top: -30px;
    width: 250px;
    height: 250px;
}

#top-bar {
    background: #224364;
}


#footer {
    background: #224364;
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: auto;
    bottom: 0px;
    left: 0px;
}


#registerLink {
    background: url("/Images/reg.png") no-repeat;
    height: auto;
    width: auto;
    min-height: 50px;
    min-width: 100px;
}

    #registerLink:hover {
        background: url("/Images/reg-hover.png") no-repeat;
        height: auto;
        width: auto;
        min-height: 50px;
        min-width: 100px;
    }

#loginLink {
    background: url("/Images/login.png") no-repeat;
    height: auto;
    width: auto;
    min-height: 50px;
    min-width: 100px;
}

/*
    #reglogview {

    text-align: center;
    margin-top: -4em;
}

    #reglogbutton {

    width: 200px;
    height: 50px;
    border-radius: 10px;
}
   */

#downloads {
    width: 120px;
    height: 50px;
    background: url("/Images/download.png");
    margin-top: -5px;
}

#homelogo1 {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-top: 5%;
    background: url("/Images/homelogo1.png");
}

#formGroup {
    margin-left: 36%;
    margin-right: 36%;
}

#formButton {
    margin-left: 39%;
    margin-right: 39%;
}

#registerTitle {
    margin-top: 80px;
    text-align: center;
    font-family: Lato;
}


#bodyRegister {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#registerView {
    background: #224364;
    width: 40%;
    height: auto;
    float: right;
    color: #fff;
    margin-top: 5em;
    margin-right: 5em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 6px 5px #fff;
}

#loginView {
    background: #224364;
    width: 40%;
    height: auto;
    float: right;
    color: #fff;
    margin-top: 5em;
    margin-right: 5em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 6px 5px #fff;
}


#button-register {
    background: #D18003;
    font-family: Oswald;
    margin-top: 5px;
    font: 20px Lato;
    width: 400%;
    margin-left: -5.3em;
}

    #button-register:hover {
        background: #224364;
        font-family: Oswald;
        color: #fff;
        margin-top: 5px;
        font: 20px Lato;
        width: 400%;
        margin-left: -5.3em;
    }

#createAccount {
    margin-top: 20px;
    text-align: center;
    font-family: Lato;
}



#headerButton {
    display: inline;
    margin: 0 0 0 5px;
}

.btn-group {
    bottom: 15px;
    position: relative;
    top: 15px;
}

#button {
    border-radius: 5px;
    background: #D18003;
    color: white;
    font-family: Oswald;
    margin-top: 5px;
    margin-bottom: 5px;
    font: 20px Lato;
    margin-right: 0px;
    margin-left: 0px;
}

    #button:hover {
        color: #fff;
        border-width: 1px;
        border-radius: 5px;
        background: #224364;
        font-family: Oswald;
        margin-top: 5px;
        margin-bottom: 5px;
        font: 20px Lato;
    }

#create-button {
    border-radius: 5px;
    background: #D18003;
    color: white;
    font-family: Oswald;
    margin-top: 5px;
    margin-bottom: 5px;
    font: 20px Lato;
    margin-right: 0px;
    margin-left: 0px;
}

    #create-button:hover {
        border-color: #D18003;
        color: #fff;
        border-width: 1px;
        border-radius: 5px;
        background: none;
        font-family: Oswald;
        margin-top: 5px;
        margin-bottom: 5px;
        font: 20px Lato;
    }

#loginBody {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#registerNewUserLink {
    font-family: Lato;
    text-align: center;
    font: 20px Lato;
}

    #registerNewUserLink:hover {
        font-family: Lato;
        color: #fff;
        text-decoration: underline;
        text-align: center;
        font: 20px Lato;
        cursor: pointer;
    }

#rememberMeCheckbox {
    font: 15px Lato;
}

#img {
    text-align: center;
}

#buttons {
    float: right;
}

#menuLogout {
    display: inline;
}

#greeting {
    font: 20px Lato;
}

#checkbox {
    font: 17px Lato;
}

/*---------------------Loading animation------------------------*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 5px solid #D18003;
    border-radius: 50%;
    border-top: 5px solid #e8e8e8;
    width: 9em;
    height: 9em;
    -webkit-animation: opacity 2s ease-in-out;
    animation: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

#myDiv {
    opacity: 0;
    text-align: center;
    transition-timing-function: ease-in;
    -webkit-animation: opacity 3s ease-in-out;
    animation: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
}


.wizard-right {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: wizard-right;
    -moz-animation-name: wizard-right;
    -o-animation-name: wizard-right;
    animation-name: wizard-right;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    top: 500px;
}

@-webkit-keyframes wizard-right {
    0% {
        top: 150px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        top: -40px;
    }

    100% {
        top: 15px;
    }
}

@-moz-keyframes wizard-right {
    0% {
        top: 150px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        top: -40px;
    }

    100% {
        top: 15px;
    }
}

@-o-keyframes wizard-right {
    0% {
        top: 150px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        top: -40px;
    }

    100% {
        top: 15px;
    }
}

@-keyframes wizard-right {

    0% {
        top: 150px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        top: -40px;
    }

    100% {
        top: 15px;
    }
}

.wizard-left {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: wizard-left;
    -moz-animation-name: wizard-left;
    -o-animation-name: wizard-left;
    animation-name: wizard-left;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    top: 500px;
}

@-webkit-keyframes wizard-left {
    0% {
        top: 150px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        top: -20px;
    }

    100% {
        top: 15px;
    }
}

@-moz-keyframes wizard-left {
    0% {
        top: 150px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        top: -20px;
    }

    100% {
        top: 15px;
    }
}

@-o-keyframes wizard-left {
    0% {
        top: 150px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        top: -20px;
    }

    100% {
        top: 15px;
    }
}

@-keyframes wizard-left {

    0% {
        top: 150px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        top: -20px;
    }

    100% {
        top: 15px;
    }
}

.logo {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: logo;
    -moz-animation-name: logo;
    -o-animation-name: logo;
    animation-name: logo;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    bottom: 500px;
}

@-webkit-keyframes logo {
    0% {
        bottom: 100px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        bottom: -20px;
    }

    100% {
        bottom: 3em;
    }
}

@-moz-keyframes logo {
    0% {
        bottom: 500px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        bottom: -20px;
    }

    100% {
        bottom: 3em;
    }
}

@-o-keyframes logo {
    0% {
        bottom: 500px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        bottom: -20px;
    }

    100% {
        bottom: 3em;
    }
}

@-keyframes logo {
    0% {
        bottom: 100px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        bottom: -20px;
    }

    100% {
        bottom: 3em;
    }
}

.logoButton {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: logoButton;
    -moz-animation-name: logoButton;
    -o-animation-name: logoButton;
    animation-name: logoButton;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    bottom: 500px;
}

@-webkit-keyframes logoButton {
    0% {
        bottom: 100px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        bottom: -20px;
    }

    100% {
        bottom: 2em;
    }
}

@-moz-keyframes logoButton {
    0% {
        bottom: 300px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        bottom: -20px;
    }

    100% {
        bottom: 2em;
    }
}

@-o-keyframes logoButton {
    0% {
        bottom: 300px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        bottom: -20px;
    }

    100% {
        bottom: 2em;
    }
}

@-keyframes logoButton {
    0% {
        bottom: 100px;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    35% {
        bottom: -20px;
    }

    100% {
        bottom: 2em;
    }
}



#team-info {
    display: inline-block;
    position: absolute;
    left: 0;
    height: auto;
    width: 100%;
    background: #fff;
    border-radius: 2em;
    opacity: 0.8;
}

.imgview {
    display: inline-block;
    height: 20em;
    width: 20em;
   padding: 3em 2em;
}

.imgview:hover{
    cursor: pointer;
    box-shadow: 0px 2px 6px 5px #000;
}

h2 {
    color: #000;
}

/*------------------FLIP ANIMATION IN ABOUT VIEW--------------------*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}