body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#softuni-memes {
    color: #00bfff;
    background-image: url("/Images/logo.png");
    width: 200px;
    height: 45px;
}

#backgroundhome {
    
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("/Images/softuni.png");
    background-size: cover; 
}

#headhomeview {

   margin-top: 50px;
   display: flex;
   align-content: center;
   justify-content: center;
   
   
}

#bodyhomeview {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;

}

.meme-button {

    border: 0px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-top: -25px;
    background: url('/Images/create-meme-button.png') repeat-y;
    
    
}

.meme-button:hover {

    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-top: -25px;
    background: url('/Images/create-meme-button-hover.png') repeat-y;
    
}



.wizzard-view-left {

    width: 500px;
    height: 360px;
   
}

.wizzard-view-right {

    width: 500px;
    height: 360px; 
}

.homelogo-view {

    margin-top: -30px;
    width: 250px;
    height: 250px;
}

#top-bar {
    background: #224364;
}

/*
#footer {

     position: absolute;
     z-index: 10;
     width: 100%;
     margin: auto;
     bottom: 0px;
     left: 0px;
     height: 150px;    
     background: #224364;
}
*/

#registerLink {
    
    color: white;
    background: red;
}

#loginLink {

    background: green;
    color: white;
}

#reglogview {

    text-align: center;
    margin-top: -4em;
}

#reglogbutton {

    width: 200px;
    height: 50px;
    border-radius: 10px;
}
 