@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#softuni-memes {
    color: #00bfff;
    background-image: url("/Images/logo.png");
    width: 200px;
    height: 45px;
}

.alert {
    margin-top: 10px;
}

#backgroundhome {
    
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("/Images/softuni.png");
    background-size: cover; 
}

#headhomeview {

   margin-top: 50px;
   display: flex;
   align-content: center;
   justify-content: center;
   
   
}

#bodyhomeview {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;

}

.meme-button {

    border: 0px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-top: -25px;
    background: url('/Images/create-meme-button.png') repeat-y;
    
    
}

.meme-button:hover {

    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-top: -25px;
    background: url('/Images/create-meme-button-hover.png') repeat-y;
    
}



.wizzard-view-left {
    width: 40em;
    height: 25em;

}

.wizzard-view-right {

    width: 40em;
    height: 25em; 
}

.homelogo-view {

    margin-top: -30px;
    width: 250px;
    height: 250px;
}

#top-bar {
    background: #224364;
}

/*
#footer {

     position: absolute;
     z-index: 10;
     width: 100%;
     margin: auto;
     bottom: 0px;
     left: 0px;
     height: 150px;    
     background: #224364;
}
*/

#registerLink {
    background: url("/Images/reg.png") no-repeat;
    height: auto;
    width: auto;
    min-height: 50px;
    min-width: 100px;
}

#registerLink:hover {
    background: url("/Images/reg-hover.png") no-repeat;
    height: auto;
    width: auto;
    min-height: 50px;
    min-width: 100px;
}

#loginLink {

    background: url("/Images/login.png") no-repeat;
    height: auto;
    width: auto;
    min-height: 50px;
    min-width: 100px;
}

/*
    #reglogview {

    text-align: center;
    margin-top: -4em;
}

    #reglogbutton {

    width: 200px;
    height: 50px;
    border-radius: 10px;
}
   */

#formGroup{
    margin-left: 36%;
    margin-right:36%;
}

#formButton{
    margin-left: 39%;
    margin-right:39%;
}

#registerTitle {
   margin-top: 80px;
   text-align:center;
   font-family: Lato;
}

#bodyRegister{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("/Images/softuni2background.jpg");
    background-size: cover; 
}
#createAccount {
    margin-top: 20px;
    text-align: center;
    font-family: Lato;
}

#headerButton{
    display:inline;
    margin: 0 0 0 5px;
}
.btn-group{
  bottom: 15px;
  position: relative;
  top: 15px;
}

#button{
    border-radius: 5px;
    background: #D18003;
    font-family: Oswald;
    margin-top: 5px;
    margin-bottom: 5px;
    font: 20px Lato;
    margin-right: 0px;
    margin-left: 0px;

}
#button:hover{
    border-color: #D18003;
    border-width: 1px;
    border-radius: 5px;
    background: none;
    font-family: Oswald;
    margin-top: 5px;
    margin-bottom: 5px;
    font: 20px Lato;
}

#loginBody{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("/Images/softuni2background.jpg");
    background-size: cover; 
}

#registerNewUserLink{
    font-family: Lato;
    text-align: center;
    font: 20px Lato;
}

#registerNewUserLink:hover {
    font-family: Lato;
    color: #224364;
    text-decoration: underline;
    text-align: center;
    font: 20px Lato;
}

#rememberMeCheckbox{
    font: 15px Lato;
}
#img{
    text-align: center;
}

#buttons{
    float:right;
}
#menuLogout{
    display:inline;
}
#greeting{
    font: 20px Lato;
}
#checkbox{
    font: 17px Lato;
}

/*---------------------Loading animation------------------------*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 5px solid #D18003;
  border-radius: 50%;
  border-top: 5px solid #e8e8e8;
  width: 9em;
  height: 9em;
  -webkit-animation: opacity 2s ease-in-out;
  animation: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  opacity: 0;
  text-align: center;
  transition-timing-function: ease-in;
  -webkit-animation: opacity 3s ease-in-out;
  animation: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

/*-------------------Sliding home components----------------------*/

.wizard-right {
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-name:wizard-right;
    -moz-animation-name:wizard-right;
    -o-animation-name:wizard-right;
    animation-name:wizard-right;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;
    -moz-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    position:absolute;
    top:500px;
}
@-webkit-keyframes wizard-right {
    0% {
        top:500px;
        opacity:0;
        right: 9em;
    }
    25% {
        opacity:1;
        right: 9em;
    }
    35% {
        top:-20px;
        right: 9em;
    }
    100% {
        top:250px;
        right: 9em;
    }
}
@-moz-keyframes wizard-right {
    0% {
        top:500px;
        opacity:0;
        right: 9em;
    }
    25% {
        opacity:1;
        right: 9em;
    }
    35% {
        top:-20px;
        right: 9em;
    }
    100% {
        top:250px;
        right: 9em;
    }
}
@-o-keyframes wizard-right {
    0% {
        top:500px;
        opacity:0;
        right: 9em;
    }
    25% {
        opacity:1;
        right: 9em;
    }
    35% {
        top:-20px;
        right: 9em;
    }
    100% {
        top:250px;
        right: 9em;
    }
}
@-keyframes wizard-right {

    0% {
        top:500px;
        opacity:0;
        right: 9em;
    }
    25% {
        opacity:1;
        right: 9em;
    }
    35% {
        top:-20px;
        right: 9em;
    }
    100% {
        top:250px;
        right: 9em;
    }
}

.wizard-left {
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-name:wizard-left;
    -moz-animation-name:wizard-left;
    -o-animation-name:wizard-left;
    animation-name:wizard-left;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;
    -moz-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    position:absolute;
    top:500px;
}
@-webkit-keyframes wizard-left {
    0% {
        top:500px;
        opacity:0;
        left: 9em;
    }
    25% {
        opacity:1;
        left: 9em;
    }
    35% {
        top:-20px;
        left: 9em;
    }
    100% {
        top:250px;
        left: 9em;
    }
}
@-moz-keyframes wizard-left {
    0% {
        top:500px;
        opacity:0;
        left: 9em;
    }
    25% {
        opacity:1;
        left: 9em;
    }
    35% {
        top:-20px;
        left: 9em;
    }
    100% {
        top:250px;
        left: 9em;
    }
}
@-o-keyframes wizard-left {
    0% {
        top:500px;
        opacity:0;
        left: 9em;
    }
    25% {
        opacity:1;
        left: 9em;
    }
    35% {
        top:-20px;
        left: 9em;
    }
    100% {
        top:250px;
        left: 9em;
    }
}
@-keyframes wizard-left {

    0% {
        top:500px;
        opacity:0;
        left: 9em;
    }
    25% {
        opacity:1;
        left: 9em;
    }
    35% {
        top:-20px;
        left: 9em;
    }
    100% {
        top:250px;
        left: 9em;
    }
}
.logo {
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-name:logo;
    -moz-animation-name:logo;
    -o-animation-name:logo;
    animation-name:logo;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;
    -moz-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    position:absolute;
    bottom:500px;
}
@-webkit-keyframes logo {
    0% {
        bottom:100px;
        opacity:0;
        left: 39.5em;
    }
    25% {
        opacity:1;
        left: 39.5em;
    }
    35% {
        bottom:-20px;
        left: 39.5em;
    }
    100% {
        bottom:28em;
        left: 39.5em;
    }
}
@-moz-keyframes logo {
    0% {
        bottom:500px;
        opacity:0;
        left: 39.5em;
    }
    25% {
        opacity:1;
        left: 39.5em;
    }
    35% {
        bottom:-20px;
        left: 39.5em;
    }
    100% {
        bottom:28em;
        left: 39.5em;
    }
}
@-o-keyframes logo {
    0% {
        bottom:500px;
        opacity:0;
        left: 39.5em;
    }
    25% {
        opacity:1;
        left: 39.5em;
    }
    35% {
        bottom:-20px;
        left: 39.5em;
    }
    100% {
        bottom:28em;
        left: 39.5em;
    }
}
@-keyframes logo {
    0% {
       bottom:100px;
        opacity:0;
        left: 39.5em;
    }
    25% {
        opacity:1;
        left: 39.5em;
    }
    35% {
        bottom:-20px;
        left: 39.5em;
    }
    100% {
        bottom:28em;
        left: 39.5em;
    }
}

.logoButton{
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-name:logoButton;
    -moz-animation-name:logoButton;
    -o-animation-name:logoButton;
    animation-name:logoButton;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;
    -moz-animation-timing-function:ease-out;
    -o-animation-timing-function:ease-out;
    animation-timing-function:ease-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    position:absolute;
    bottom:500px;
}
@-webkit-keyframes logoButton {
    0% {
        bottom:100px;
        opacity:0;
        left: 41.5em;
    }
    25% {
        opacity:1;
        left: 41.5em;
    }
    35% {
        bottom:-20px;
        left: 41.5em;
    }
    100% {
        bottom:25em;
        left: 41.5em;
    }
}
@-moz-keyframes logoButton {
    0% {
        bottom:300px;
        opacity:0;
        left: 41.5em;
    }
    25% {
        opacity:1;
        left: 41.5em;
    }
    35% {
        bottom:-20px;
        left: 41.5em;
    }
    100% {
        bottom:25em;
        left: 41.5em;
    }
}
@-o-keyframes logoButton {
    0% {
        bottom:300px;
        opacity:0;
        left: 41.5em;
    }
    25% {
        opacity:1;
        left: 41.5em;
    }
    35% {
        bottom:-20px;
        left: 41.5em;
    }
    100% {
        bottom:25em;
        left: 41.5em;
    }
}
@-keyframes logoButton {
    0% {
       bottom:100px;
        opacity:0;
        left: 41.5em;
    }
    25% {
        opacity:1;
        left: 41.5em;
    }
    35% {
        bottom:-20px;
        left: 41.5em;
    }
    100% {
        bottom:25em;
        left: 41.5em;
    }
}
}