
@{
    ViewBag.Title = "ChangeFirstName";
}

<h2 style="font-family: Lato; color: #224364">Change First Name</h2>
@using (Html.BeginForm("ChangeFirstName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
        <div class="container">
            <div class="wrapper">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <p id="label" class="col-md-offset-2 col-md-8">@Html.Label("First name:")</p>
                    <br />
                    <br />
                    <div class="col-md-offset-2 col-md-8">@Html.TextBox("firstName", "", new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" id="button" value="Change name" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
}

