@model Softuni___Memes.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="wrapper">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr/>
        <div class="div-horizontal">
            <div>Password:</div>
            <div>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
                [@Html.ActionLink("Change your First name", "ChangeFirstName")]
            </div>
        </div>
    </div>
</div>
